<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
body, table {
	font-size: 8px;
}
</style>
    </head>
    <body>
    <h1>Rubrica</h1>
<br />
<hr />
<br />
<table style="width:100%">
	<tr><td>Cod. UNICO</td><td>Cognome e nome / Denominazione / Ragione sociale</td><td>Numeri di telefono</td><td>Fax</td></tr>
{% for l in list %}
<tr>
	<td>
	{% if l.codice1 %}
	[{{ l.codice1 }}]
	{% endif %}
	</td>
	<td>{{ l.cognome }} {{ l.nome }}</td>
	<td>{{ l.telefono1 }}
		{% if l.telefono2 %}
		- {{ l.telefono2 }}
		{% endif %}
	</td>
	<td>{{l.fax}}</td>
</tr>
{% endfor %}

</body>
</html>
